#root {
  min-height: 100vh;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: auto !important;
  position: relative;
}

* {
  font-family: 'PingFang SC', 'Microsoft YaHei', 'SimHei', 'Arial', 'SimSun';
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  overflow: auto;
  /*min-width: 1200px;*/
  position: relative;
  overflow-x: hidden;
}
li{
  list-style: none;
}
h2{
  white-space: nowrap;
}
